body{
    display: flex;
	margin: 0;
}

aside{
	border-right: 1px solid rgb(228, 228, 228);
	min-height: 100vh;
	background: rgb(240, 240, 240);
}

table{
	width: 285px;
}

main{
    flex: 1;
	margin-left: 60px;
}

img{
    max-width: 75%;
    max-height: 100vh;
}

aside > h1{
	margin-left: 20px;
	/* color: rgb(0, 83, 177); */
}

td > a{
	display: flex;
    text-decoration: none;
	margin-left: 20px;
	color: black;
}

tr:hover{
	background: rgba(201, 201, 201, 0.671);
    outline: 1px solid rgb(182, 182, 182);
}

#selected{
	background: white;
    outline: 1px solid rgb(196, 196, 196);
}