body{
    display: flex;
	margin: 0;
}

aside{
	border-right: 1px solid rgb(228, 228, 228);
	min-height: 100vh;
	background: rgb(240, 240, 240);

width: 300px;
}

main{
    flex: 1;
	margin-left: 60px;
}

img{
    max-width: 75%;
    max-height: 100vh;
}

aside > h1{
	margin-left: 20px;
	color: rgb(0, 177, 80);
}

td > a{
	display: flex;
    text-decoration: none;
	margin-left: 20px;
	color: black;
}

tr:hover{
	background: rgb(255, 235, 217);
    outline: 1px solid rgb(255, 198, 145);
}

#selected{
	background: white;
    outline: 1px solid rgb(196, 196, 196);
}

table{ width: 100%; }