body{
    display: flex;
	margin: 0;
}

aside{
    background-image: url("background.png");
	border-right: 1px solid rgb(228, 228, 228);

position: fixed;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
}

main{
    flex: 1;
	margin-left: 310px;
}

img{
    max-width: 75%;
    max-height: 100vh;
}

aside > h1{
	margin-left: 20px;
	color: rgb(0, 83, 177);
}

td > a{
	display: flex;
    text-decoration: none;
	margin-left: 20px;
	color: black;
}

tr:hover{
	/* background: rgba(255, 247, 219, 0.671); */
    outline: 1px solid rgba(0, 0, 0, 0.158);
	background: rgba(0, 0, 0, 0.05);
	border-radius: 0 2px 2px 0;
}

#selected{
	background: linear-gradient(to bottom,  rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 0) 100%);
    /* outline: 1px solid rgb(196, 196, 196); */
}

#selected td{
	box-sizing: border-box;
	box-shadow: inset 4px 0 0 0 rgb(0, 83, 177), 5px 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 0 2px 2px 0;
	/* border-left: 5px solid rgb(0, 83, 177); */
	/* margin: -1px; */
}

table{ width: 100%; }