body{
    display: flex;
	margin: 0;
}

aside{
    background-image: url("background.png");
	border-right: 1px solid rgb(228, 228, 228);
	min-height: 100vh;
}

main{
    flex: 1;
	margin-left: 60px;
}

img{
    max-width: 75%;
    max-height: 100vh;
}

aside > h1{
	margin-left: 20px;
	color: rgb(0, 83, 177);
}

td > a{
	display: flex;
    text-decoration: none;
	margin-left: 20px;
	color: black;
}

tr:hover{
	background: rgba(255, 247, 219, 0.671);
    outline: 1px solid rgb(255, 239, 145);
}

#selected{
	background: white;
    outline: 1px solid rgb(196, 196, 196);
}